<nav class="w-full sticky bottom-0 ">
  <button
    class="bg-primary p-4 mb-2 mr-8 ml-auto rounded-full flex justify-center items-center"
    (click)="startTweet()"
  >
  <div>
    <img src="../../assets/Add text icon.png" alt="add text" class="w-10" />
  </div>
  </button>
  <div class="bg-white pt-4">
    <ul class="flex justify-evenly text-secondary text-4xl mb-6">
      <li>
        <a routerLink="/" routerLinkActive="text-primary"
          ><mat-icon>home</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/search" routerLinkActive="text-primary"
          ><mat-icon>search</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/notifications" routerLinkActive="text-primary"
          ><mat-icon>notifications_none</mat-icon></a
        >
      </li>
      <li>
        <a routerLink="/messages" routerLinkActive="text-primary"
          ><mat-icon>mail_outline</mat-icon></a
        >
      </li>
    </ul>
  </div>
</nav>
