<nav class="w-full sticky bottom-0">
  <button class="bg-primary p-4 mb-2 mr-8 ml-auto rounded-full flex justify-center items-center" >
    <img src="../../assets/Add text icon.png" alt="add text" class="w-10">
  </button>
  <div class="bg-white pt-4">
    <ul class="flex justify-evenly text-secondary text-4xl mb-6">
      <li>
        <a routerLink="/" routerLinkActive="text-primary"><mat-icon>home</mat-icon></a>
      </li>
      <li>
        <a routerLink="/search" routerLinkActive="text-primary"><mat-icon>search</mat-icon></a>
      </li>
      <li>
        <a routerLink="/notifications" routerLinkActive="text-primary"><mat-icon>notifications</mat-icon></a>
      </li>
      <li>
        <a routerLink="/messages" routerLinkActive="text-primary"><mat-icon>email</mat-icon></a>
      </li>
    </ul>
    <div class="w-2/5 h-2 rounded-lg bg-[#060606] mt-0 mx-auto"></div>
  </div>
</nav>
