<nav class="w-full absolute bottom-0">
  <ul class="flex justify-evenly text-secondary text-4xl mb-6">
    <li>
      <a href="#" class="text-primary"><mat-icon>home</mat-icon></a>
    </li>
    <li>
      <a href="#"><mat-icon>search</mat-icon></a>
    </li>
    <li>
      <a href="#"><mat-icon>notifications</mat-icon></a>
    </li>
    <li>
      <a href="#"><mat-icon>email</mat-icon></a>
    </li>
  </ul>
  <div class="w-2/5 h-2 rounded-lg bg-[#060606] mt-0 mx-auto"></div>
</nav>
