<div class="h-[100vh] overflow-clip">
  <app-header></app-header>
  <div class="h-full">
    <mat-tab-group animationDuration="0ms" headerPosition="below">
      <mat-tab>
        <ng-template mat-tab-label><span class="text-5xl"><mat-icon>home</mat-icon></span>  </ng-template
        >
        <app-tweets-page></app-tweets-page>
        </mat-tab
      >
      <mat-tab>
        <ng-template mat-tab-label><span class="text-5xl"><mat-icon>search</mat-icon></span></ng-template
        ><app-search></app-search></mat-tab
      >
      <mat-tab label="Third"
        ><ng-template mat-tab-label>
          <span class="text-5xl"><mat-icon>notifications</mat-icon></span> </ng-template
        ><app-notifications></app-notifications></mat-tab
      >

      <mat-tab label="Third"
        ><ng-template mat-tab-label>
          <span class="text-5xl"><mat-icon>mail_outline</mat-icon></span></ng-template
        ><app-messages></app-messages></mat-tab
      >
    </mat-tab-group>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
