<nav class="w-full text-secondary text-2xl font-medium grid grid-cols-2 sticky top-12 bg-white">
  <button class="text-center border-primary" [class.border-b-4]="!mentionsActive" (click)="onViewMentions(false)">All</button>
  <button class="text-center border-primary" [class.border-b-4]="mentionsActive" (click)="onViewMentions(true)">Mentions</button>
</nav>
<div class="w-5/6  mx-auto text-secondary">
  <div class="mt-4">
    <img src="../../assets/Round2.png" alt="display photo" />
    <p>In case you missed Saad Drusteer’s Tweet.</p>
    <p>
      🔥 Are you using WordPress and migrating to the JAMstack? I wrote up a
      case study about how Smashing Magazine moved to JAMstack and saw great
      performance improvements and better security.
      smashingdrusteer.com/2020/01/migrat...
    </p>
  </div>
  <div class="mt-4">
    <img src="../../assets/Round2.png" alt="display photo" />
    <p>In case you missed Saad Drusteer’s Tweet.</p>
    <p>
      🔥 Are you using WordPress and migrating to the JAMstack? I wrote up a
      case study about how Smashing Magazine moved to JAMstack and saw great
      performance improvements and better security.
      smashingdrusteer.com/2020/01/migrat...
    </p>
  </div>

  <div class="mt-4">
    <img src="../../assets/Round2.png" alt="display photo" />
    <p>In case you missed Saad Drusteer’s Tweet.</p>
    <p>
      🔥 Are you using WordPress and migrating to the JAMstack? I wrote up a
      case study about how Smashing Magazine moved to JAMstack and saw great
      performance improvements and better security.
      smashingdrusteer.com/2020/01/migrat...
    </p>
  </div>
  <div class="mt-4">
    <img src="../../assets/Round2.png" alt="display photo" />
    <p>In case you missed Saad Drusteer’s Tweet.</p>
    <p>
      🔥 Are you using WordPress and migrating to the JAMstack? I wrote up a
      case study about how Smashing Magazine moved to JAMstack and saw great
      performance improvements and better security.
      smashingdrusteer.com/2020/01/migrat...
    </p>
  </div>
  <div class="mt-4">
    <img src="../../assets/Round2.png" alt="display photo" />
    <p>In case you missed Saad Drusteer’s Tweet.</p>
    <p>
      🔥 Are you using WordPress and migrating to the JAMstack? I wrote up a
      case study about how Smashing Magazine moved to JAMstack and saw great
      performance improvements and better security.
      smashingdrusteer.com/2020/01/migrat...
    </p>
  </div>

</div>
